body{
    background: #850FBF;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background-color: #F5D9E7;
    height: 120px;
    border-style: dotted;color: #850FBF;
    padding-bottom: 40px;
}
.header a{
    text-decoration: none;
}
.h1{
    font-size: 40px;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    color: #850FBF ;
    text-decoration: none;
}

.footer{
    background-color:#F5D9E7;
    height: 80px;
}

.main{
    text-align: left;
    background:#F5D9E7;
    height: 600px;
    font-size: 24px;
    font-family:  'Tinos', serif;
    display: inline-flex;
    text-align: center;
    padding: 20px;
}

.Product{
    width: 50%;
    height: 95%;
    padding-top: 15px;
}

.Product1{
    width: 50%;
    height: 95%;
    padding-top: 15px;
    /* border: solid red 3px; */
}

.eye{
width: 80%;
height: 100%;
border-radius: 5%;
}

.add{
    font-family:'Poppins', sans-serif;
    font-size: 50px;
    color: #850FBF;
    font-weight: bold;
}

.description{
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    color: black;
}

.description a{
    text-decoration: none;
    color: #850FBF;
}

.price{
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    color: #850FBF;
}

.aside1{
    background: #F5D9E7;
    padding: 2px;
    
}

.aside1 a{
    text-decoration: none;
    font-size: 30px;
    color: #850FBF;
    font-weight: bold;
    font-family: 'Cookie', cursive;
}
.aside2{
    background: #F5D9E7;
    font-family:'Tinos', serif; color: #850FBF;
    font-size: 24px;
    font-weight: bold;
}
.footer{
    font-size: 21px;
    text-align: right;
    color: white;
}
@media all and (min-width: 800px){
    .main{
        flex: 3;
    }

    .aside1{
        order:1;
    }

    .aside2{
        order: 2;
    }

    .main{
        order: 2;
    }

    .footer{
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}
